<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>山东万维电力科技有限公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/html5shiv.min.js" type="text/javascript"></script>
</head>
<body>
<!--<embed type="text/html" src="common/header.html"  style="width: 100%; height: 607px"/>-->
<!--<IFRAME NAME="header_frame" width=100% height=30 marginwidth=0 marginheight=0 SRC="common/header.html" ></IFRAME>-->
<!--<include src="common/header.html"></include>-->
<!--<div class="header-tips-bk">
    <div class="section-body header-tips">
        <span class="left"><marquee>欢迎光临拾流科技！  Welcome  to SEA FLOW ！</marquee></span>
        <span class="right"><span style="margin:0 12px">|</span><a href="http://cms.1shiliu.com/jwx/#"><i class="glyphicon glyphicon-user"></i>登录后台</a></span>
        &lt;!&ndash;<a class="call-me" href="tel:4006221616"><i class="glyphicon glyphicon-phone-alt"></i>400-622-1616</a>&ndash;&gt;
    </div>
</div>-->

<div class="wid100">
    <div class="header-tips-bk">
        <div class="section-body header-tips">
            <span class="left"><marquee>欢迎光临万维电力科技！  Welcome  to WAN WEI Technological ！</marquee></span>
            <span class="right"><span style="margin:0 12px">|</span><a href="/main/login"><i class="glyphicon glyphicon-user"></i>管理登录</a></span>
            <!--<a class="call-me" href="tel:4006221616"><i class="glyphicon glyphicon-phone-alt"></i>400-622-1616</a>-->
        </div>
    </div>
    ﻿<header id="header" class="header wrap cen">
    <h1><a href="">山东万维电力科技有限公司</a></h1>
    <nav class="nav" id="menu_ul">
        <ul>
            <li><a href="/" id="nav_current">首页</a></li>
            <li><a href="/main/companyProfile">公司简介</a></li>
            <li><a href="/main/news">新闻中心</a></li>
            <li><a href="/main/product">产品中心</a></li>
            <li><a href="/main/shili">公司实力</a></li>
            <li><a href="/main/recruit">招贤纳士</a></li>
            <li><a href="/main/services">服务中心</a></li>
        </ul>
    </nav>
    <div class="cb"></div>
</header>
    <script type="text/javascript">
        var obj=null;
        var As=document.getElementById('menu_ul').getElementsByTagName('a');
        obj = As[0];
        for(i=1;i<As.length;i++){
            if(window.location.href.indexOf(As[i].href)>=0)
                obj=As[i];
        }
        obj.id='nav_current';
    </script>
    <link href="/css/fwslider.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/fwslider.js"></script>
    <div id="banner">
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide slide_item1"> <img src="/images/banner1.png"> </div>
                <div class="slide slide_item2"> <img src="/images/banner2.png"> </div>
                <div class="slide slide_item3"> <img src="/images/banner3.png"> </div>
            </div>
            <div class="timers"></div>
            <div class="slidePrev"><span class="pngFix"></span></div>
            <div class="slideNext"><span class="pngFix"></span></div>
        </div>
    </div>
</div>
<div class="wid100 con1 section">
    <div class="wrap cen">
        <h2>山东万维电力科技有限公司</h2>
        <p class="en">Shandong Wanwei Power Technology Co., Ltd</p>
        <div class="art">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山东万维电力科技有限公司坐落于“孔孟之乡”山东省济宁市，人文和地理环境得天独厚，水陆交通极为便利。公司注册资金3600万元。公司原名为济宁欣源机械有限公司，原坐落于山东省济宁市高新区远兴路八号，成立于2010 年11 月 12日，为了加快企业更好的发展，更好的为电力事业服务。公司于2015年9月迁址至山东省济宁经济开发区嘉美路北段，并更名为山东万维电力科技有限公司。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司建有现代化车间四千余平米，仓库面积一千余平米，各种生产、试验、检测设备齐全，现有员工23人，是一家生产与研发电力金具及铁附件为一体的专业生产企业。可生产电力金具四大类，各种型号产品一千余种，年生产能力六千余吨，年销售额约四千余万元的中型企业。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司通过了《GB/T19001-2008/ISO9001：2008质量管理体系认证》《全国工业产品生产许可认证》，而且企业拥有雄厚的技术力量及先进的生产和检测设备，招纳了一批资深技术专家和生产经验丰富及高素质的专业员工队伍。公司一直将工作质量和施工的安全作为企业发展、生存的基础，从原材料进厂到成品出厂实行全过程严格检测。在生产过程中，严格遵守国家电力行业相关技术规范标准及各种操作规程，做到对用户负责、对企业负责的层层落实方针，最终确保合格的产品质量及优质的售后服务。并且公司紧紧围绕国家电网公司的体制改革步伐，与时俱进、改革创新、加强管理，更好的为电力事业服务...

        </div>
        <div class="more"><a href="/main/companyProfile">查看详情>></a></div>
    </div>
</div>

<section  class="fuwu-bg pingpu-bg" id="demo">
    <div class="fuwu container text-center sx-padding">
        <h2 class="f-title wow animated fadeInUp animated" style="visibility: visible;">关于我们<small>About Us</small></h2>
        <div class="row">
            <figure class="wow animated zoomIn animated" style="visibility: visible; color: #333333;">
                <a href="/qiyegaikuang/qiyewenhua" onclick="return false;" class="pic1"></a>
                <figcaption>企业文化</figcaption>
                <p><span>公司宗旨</span><br/>

                    以人为本，诚信务实，创新进取，回报社会。<br/>

                    <span>经营宗旨</span><br/>

                    信誉至上，用户第一，质量满意，交货准时，愿与您真诚合作、携手发展。<br/>

                    <span>服务宗旨</span><br/>

                    热情接待新老客户，确切了解顾客需求；严格质量过程控制，确保合同交货周期；及时进行质量跟踪，迅速处理质量异议。<br/>

                    <span>质量宗旨</span><br/>

                    以优于国内、国际标准的厂控标准，满足顾客对产品实物质量的期望和要求。<br/>
                </p>

            </figure>
            <figure class="bianju wow animated zoomIn animated" style="visibility: visible;">
                <a href="/qiyegaikuang/qiyewenhua" onclick="return false;" class="pic2" ></a>
                <figcaption>营销理念/创新理念</figcaption>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密切关注竞争对手和顾客需求的每一处细微变化，抓住市场变化中的机会，利用公司的一切内、外部条件，永远比竞争对手早一步推出更能符合顾客需求的产品，靠不断变化的产品差异性、服务差异性、营销策略差异性，击败竞争对手，取得竞争优势。<br/>
                    <span>创新理念</span><br/>
                    持续创新 宽容失败<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;持续创新是企业生存和发展的源泉和动力，创建最具竞争力的中厚板精品企业，必须营造浓厚的创新氛围，始终支持职工创新，创新技术、创新管理、创新制度、创新环境；对创新工作中出现的失败，要理解、宽容，更要鼓励，使创新成为一种品质、一种精神、一种风尚。


                </p>
            </figure>
            <figure class="wow zhici animated zoomIn animated" style="visibility: visible;">
                <a href="/qiyegaikuang/zongjinglizhici" class="pic3" onclick="return false;" ></a>
                <figcaption>总经理致辞</figcaption>
                <p>投资集团公司自成立十多年来，以科学发展观为统领，紧紧围绕经济发展大局，坚持资本运营和产业经营相结合，金融资本与实业资本相结合，盘活存量与发展增量相结合，坚持政府投资主体，引领地方投资方向，发展多元化格局。经过全体员工的努力拼搏，集团已在基础设施、金融、房地产、商贸物流等领域，取得了可喜的佳绩。面对新区开发开放的大好形势，我们将把这一历史性机遇期，转化为实现持续发展的黄金期，凸现市场经济主体功能的大有作为期，将发展战略部署与集团改革发展紧密结合，在集团十多年发展的基础上，以提高效益为核心，以资本经营为主线，以体制、机制改革创新为动力，更好的发挥政府投资主体在开发开放建设和发展中的作用。</p>
            </figure>
        </div>
    </div>
</section>


<section class="case text-center sx-padding" id="demo">
    <div class="container">
        <h2 class="f-title wow animated fadeInUp animated" style="visibility: visible;">产品中心<span class="pro-en">Products</span></h2>

        <div class="row">
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/9.html" target="_blank"><img src='/uploads/161223/1-161223143954317.jpg' border='0' width='120' height='120' alt='U型抱箍'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/9.html" target="_blank">U型抱箍</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/9.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=9&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/8.html" target="_blank"><img src='/uploads/161223/1-161223143Z6430.jpg' border='0' width='120' height='120' alt='7式铁'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/8.html" target="_blank">7式铁</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/8.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=8&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/7.html" target="_blank"><img src='/uploads/161223/1-161223143JQ18.jpg' border='0' width='120' height='120' alt='接地铁'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/7.html" target="_blank">接地铁</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/7.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=7&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/6.html" target="_blank"><img src='/uploads/161223/1-161223143545a8.jpg' border='0' width='120' height='120' alt='N型拉板'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/6.html" target="_blank">N型拉板</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/6.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=6&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/5.html" target="_blank"><img src='/uploads/161223/1-16122314351V37.jpg' border='0' width='120' height='120' alt='抱箍'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/5.html" target="_blank">抱箍</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/5.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=5&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/4.html" target="_blank"><img src='/uploads/161223/1-16122314344Q34.jpg' border='0' width='120' height='120' alt='横担'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/4.html" target="_blank">横担</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/4.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=4&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/3.html" target="_blank"><img src='/uploads/161223/1-161223143154J0.jpg' border='0' width='120' height='120' alt='变压器台架'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/3.html" target="_blank">变压器台架</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/3.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=3&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>
            <figure class="wow animated flipInX animated" style="visibility: visible;">
                <a href="/product/2016/1223/2.html" target="_blank"><img src='/uploads/161223/1-161223143112A5.jpg' border='0' width='120' height='120' alt='杆顶瓷瓶架'></a>
                <figcaption>
                    <h3><a href="/product/2016/1223/2.html" target="_blank">杆顶瓷瓶架</a></h3>
                    <p>...</p>
                    <p class="case-more-top"><a href="/product/2016/1223/2.html" class="btn-success case-more" target="_blank">查看详情 →</a> 浏览：
                        <script src="/plus/count.php?view=yes&amp;aid=2&amp;mid=1" type="text/javascript" language="javascript"></script>次 </p>
                </figcaption>
            </figure>


        </div>
        <div class="more"><a href="/main/product">查看更多&gt;&gt;</a></div>

    </div>
</section>
<!--<embed type="text/html" src="common/footer.html"  style="width: 100%; height: 469px"/>-->
<footer class="pingpu-bg" id="yy">
    <div id="demo" class="footer container sx-padding">
        <div class="clearfix wow animated fadeIn animated" style="visibility: visible;">
            <section>
                <h3>在线留言 Online booking</h3>
                <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="action" value="post" />
                    <input type="hidden" name="diyid" value="1" />
                    <input type="hidden" name="do" value="2" />
                    <ul class="list-unstyled">
                        <li>
                            <input name="xm" id="xm" value="" placeholder="姓名" maxlength="10" onfocus="if (value =='Name'){value =''}" onblur="if (value ==''){value='Name'}" type="text">
                        </li>
                        <li>
                            <input name="dh" id="dh" value="" placeholder="电话" maxlength="11" onfocus="if (value =='Phone'){value =''}" onblur="if (value ==''){value='Phone'}" type="text">
                        </li>
                        <li>
                            <textarea name="nr" cols="" id="nr" value="" placeholder="Content" maxlength="200" onfocus="if (value =='Content'){value =''}" onblur="if (value ==''){value='Content'}">Content</textarea>
                        </li>
                        <input type="hidden" name="dede_fields" value="xm,text;dh,text;nr,multitext" />
                        <input type="hidden" name="dede_fieldshash" value="adfd860bc1a954d8c39dc1dd5376e9b3" />
                        <li>
                            <input name="submit" id="button" value="立即提交 Submit →" type="submit">
                        </li>
                    </ul>
                </form>
                <div id="savediv" style="visibility:hidden;">Do not perform any other operations in the process....</div>
                <script language="javascript" type="text/javascript">
                    function gosavenow(){
                        savediv.style.visibility="visible";}
                </script>
                <script language="javascript" type="text/javascript">
                    function CheckForm() {
                        if(lansige.xm.value == '') {
                            alert('Please enter your address！');
                            lansige.xm.focus();
                            return false;}
                        if(lansige.dh.value == '') {
                            alert('Please enter your phone！');
                            lansige.dh.focus();
                            return false;}
                        var re = new RegExp("^([0-9])+$","ig");
                        {if (!re.test(lansige.dh.value))
                        {alert("The phone can only be 0-9 number！");
                            lansige.dh.focus();
                            return false;}}
                        if(lansige.nr.value == '') {
                            alert('Please enter your message content (no more than 200 words)!');
                            lansige.nr.focus();
                            return false;}
                        gosavenow();}
                </script>
            </section>



            <section class="bianju">
                <h3>新闻中心 News<span><a href="/xinwenzhongxin">更多>></a></span></h3>
                <ul class="news">
                    <li><a href="/xinwenzhongxin/2016/1224/20.html">【重磅】国家电网以混合所有制全面推进配售电<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/19.html">特高压：不光要“上天入地” 还要横跨大洋<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/18.html">工业园区成为电力改革试验田 配售一体化的突破<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/17.html">高压户外式穿墙套管的安装<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/16.html">冷缩、热缩电缆附件施工工艺比较<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/15.html">穿刺线夹优点<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/14.html">电力绿色发展是主线！ 国家能源局总工程师这么<span>2016-12-24</span></a></li>

                </ul>



            </section>
            <section >
                <h3>联系我们 Contact US</h3>
                <address>
                    <h4>山东万维电力科技有限公司</h4>
                    <ul class="list-unstyled lxwm">
                        <li>地址：山东省济宁经济开发区嘉美路北段</li>
                        <li>电话：0537-3213333</li>
                        <li>传真：0537-3215555</li>
                        <li>E-mail：sdwwdl@163.com</li>
                    </ul>
                </address>
                <p class="zhixun"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456789&amp;site=qq&amp;menu=yes" class="qq" target="_blank">QQ</a> </p>
            </section>

        </div>


    </div>
    <div class="foot">
        <div class="container clearfix">
            <p class="copy pull-left">Copyright © 2012-2017 山东万维电力科技 All RIGHTS RESERVED POWERED BY <a href="http://www.hrnuo.com" target="_blank">技术支持：</a><a href="http://www.h0537.com" target="_blank">悍诺科技</a>
            </p>
            <p class="renzheng pull-right text-right">
                <img src="/images/1.png" alt="工商合法注册企业" title="工商合法注册企业" width="32" height="32">
                <img src="/images/2.png" alt="安全网站" title="安全网站" width="32" height="32">
                <img src="/images/3.png" alt="网上报警" title="网上报警" width="32" height="32">
            </p>
        </div>
    </div>
</footer>
</body>
<script src="/js/tab.js"></script>
<script src="/js/scroll.js"></script>
</html>