<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <title>山东万维电力科技有限公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bxslider.css}" rel="stylesheet" >
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bxslider.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--<embed type="text/html" src="common/header.html"  style="width: 100%; height: 607px"/>-->
<div class="wid100">
    ﻿<header id="header" class="header wrap cen">
    <h1><a href="/cn/">山东万维电力科技有限公司</a></h1>
    <nav class="nav" id="menu_ul">
        <ul>
            <li><a href="/" >首页</a></li>
            <li><a href="/main/companyProfile">公司简介</a></li>
            <li><a href="/main/news">新闻中心</a></li>
            <li><a href="/main/product">产品中心</a></li>
            <li><a href="/main/shili">公司实力</a></li>
            <li><a href="/main/recruit">招贤纳士</a></li>
            <li><a href="/main/services">服务中心</a></li>
        </ul>
    </nav>
    <div class="cb"></div>
</header>
    <script type="text/javascript">
        var obj=null;
        var As=document.getElementById('menu_ul').getElementsByTagName('a');
        obj = As[0];
        for(i=1;i<As.length;i++){
            if(window.location.href.indexOf(As[i].href)>=0)
                obj=As[i];
        }
        obj.id='nav_current';
    </script>
    <link href="/css/fwslider.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/fwslider.js"></script>
    <div id="banner">
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide slide_item1"> <img src="/images/banner1.png"> </div>
                <div class="slide slide_item2"> <img src="/images/banner2.png"> </div>
                <div class="slide slide_item3"> <img src="/images/banner3.png"> </div>
            </div>
            <div class="timers"></div>
            <div class="slidePrev"><span class="pngFix"></span></div>
            <div class="slideNext"><span class="pngFix"></span></div>
        </div>
    </div>
</div>
<!-- main -->
<div class="container main-a">
    <div class="row">
        <!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h1">企业概况</h2>
                &nbsp;<br />
                <div id="pagecontent">
                    山东万维电力科技有限公司坐落于&ldquo;孔孟之乡&rdquo;山东省济宁市，人文和地理环境得天独厚，水陆交通极为便利。公司注册资金3600万元。公司原名为济宁欣源机械有限公司，原坐落于山东省济宁市高新区远兴路八号，成立于2010 年11 月 12日，为了加快企业更好的发展，更好的为电力事业服务。公司于2015年9月迁址至山东省济宁经济开发区嘉美路北段，并更名为山东万维电力科技有限公司。<br />
                    公司建有现代化车间四千余平米，仓库面积一千余平米，各种生产、试验、检测设备齐全，现有员工23人，是一家生产与研发电力金具及铁附件为一体的专业生产企业。可生产电力金具四大类，各种型号产品一千余种，年生产能力六千余吨，年销售额约四千余万元的中型企业。<br />
                    公司通过了《GB/T19001-2008/ISO9001：2008质量管理体系认证》《全国工业产品生产许可认证》，而且企业拥有雄厚的技术力量及先进的生产和检测设备，招纳了一批资深技术专家和生产经验丰富及高素质的专业员工队伍。公司一直将工作质量和施工的安全作为企业发展、生存的基础，从原材料进厂到成品出厂实行全过程严格检测。在生产过程中，严格遵守国家电力行业相关技术规范标准及各种操作规程，做到对用户负责、对企业负责的层层落实方针，最终确保合格的产品质量及优质的售后服务。并且公司紧紧围绕国家电网公司的体制改革步伐，与时俱进、改革创新、加强管理，更好的为电力事业服务。<br />
                    公司本着&ldquo;质量第一，用户至上，服务社会，振兴企业&rdquo;的目标，以&ldquo;务实创新、高效向上&rdquo;的企业精神，为用户提供性价比高、性能优越、质量有保证的产品，而且赢得了广大客户的一致好评。<br />
                    公司以多年对机械领域从事经营的实力为基础，以高质量的产品，良好的商业信誉，以优良的售前、售后服务为宗旨，以客户需求为中心的经营理念，以新的面貌，以新的精神，为电力行业提供新的服务。<br />
                    　　竭诚欢迎新老客户，莅临指导，洽谈业务，共创辉煌。</div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h1 class="left_h1">栏目导航</h1>
                <ul class="left_nav_ul" id="firstpane">

                    <li> <a class="biglink" href="/qiyegaikuang/gongsigaikuang/">公司概况</a><span class="menu_head">+</span>
                        <ul class="left_snav_ul menu_body">

                            <li><a href="/qiyegaikuang/gongsigaikuang/">公司概况</a></li>

                            <li><a href="/qiyegaikuang/qiyewenhua/">企业文化</a></li>

                            <li><a href="/qiyegaikuang/zongjinglizhici/">总经理致辞</a></li>

                        </ul>
                    </li><li> <a class="biglink" href="/qiyegaikuang/qiyewenhua/">企业文化</a><span class="menu_head">+</span>
                    <ul class="left_snav_ul menu_body">

                        <li><a href="/qiyegaikuang/gongsigaikuang/">公司概况</a></li>

                        <li><a href="/qiyegaikuang/qiyewenhua/">企业文化</a></li>

                        <li><a href="/qiyegaikuang/zongjinglizhici/">总经理致辞</a></li>

                    </ul>
                </li><li> <a class="biglink" href="/qiyegaikuang/zongjinglizhici/">总经理致辞</a><span class="menu_head">+</span>
                    <ul class="left_snav_ul menu_body">

                        <li><a href="/qiyegaikuang/gongsigaikuang/">公司概况</a></li>

                        <li><a href="/qiyegaikuang/qiyewenhua/">企业文化</a></li>

                        <li><a href="/qiyegaikuang/zongjinglizhici/">总经理致辞</a></li>

                    </ul>
                </li>

                </ul>
            </div>

            <div class="index_contact">
                <h1 class="about_h1">联系我们</h1>
                <span class="about_span">CONTACT US</span>
                <div class="cb"></div>
                <h4>山东万维电力科技有限公司</h4>
                <ul class="list-unstyled lxwm">
                    <li>地址：山东省济宁经济开发区嘉美路北段</li>
                    <li>电话：0537-3213333</li>
                    <li>传真：0537-3215555</li>
                    <li>E-mail：sdwwdl@163.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
﻿<!--<embed type="text/html" src="common/footer.html"  style="width: 100%; height: 469px"/>-->
<footer class="pingpu-bg" id="yy">
    <div id="demo" class="footer container sx-padding">
        <div class="clearfix wow animated fadeIn animated" style="visibility: visible;">
            <section>
                <h3>在线留言 Online booking</h3>
                <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="action" value="post" />
                    <input type="hidden" name="diyid" value="1" />
                    <input type="hidden" name="do" value="2" />
                    <ul class="list-unstyled">
                        <li>
                            <input name="xm" id="xm" value="" placeholder="姓名" maxlength="10" onfocus="if (value =='Name'){value =''}" onblur="if (value ==''){value='Name'}" type="text">
                        </li>
                        <li>
                            <input name="dh" id="dh" value="" placeholder="电话" maxlength="11" onfocus="if (value =='Phone'){value =''}" onblur="if (value ==''){value='Phone'}" type="text">
                        </li>
                        <li>
                            <textarea name="nr" cols="" id="nr" value="" placeholder="Content" maxlength="200" onfocus="if (value =='Content'){value =''}" onblur="if (value ==''){value='Content'}">Content</textarea>
                        </li>
                        <input type="hidden" name="dede_fields" value="xm,text;dh,text;nr,multitext" />
                        <input type="hidden" name="dede_fieldshash" value="adfd860bc1a954d8c39dc1dd5376e9b3" />
                        <li>
                            <input name="submit" id="button" value="立即提交 Submit →" type="submit">
                        </li>
                    </ul>
                </form>
                <div id="savediv" style="visibility:hidden;">Do not perform any other operations in the process....</div>
                <script language="javascript" type="text/javascript">
                    function gosavenow(){
                        savediv.style.visibility="visible";}
                </script>
                <script language="javascript" type="text/javascript">
                    function CheckForm() {
                        if(lansige.xm.value == '') {
                            alert('Please enter your address！');
                            lansige.xm.focus();
                            return false;}
                        if(lansige.dh.value == '') {
                            alert('Please enter your phone！');
                            lansige.dh.focus();
                            return false;}
                        var re = new RegExp("^([0-9])+$","ig");
                        {if (!re.test(lansige.dh.value))
                        {alert("The phone can only be 0-9 number！");
                            lansige.dh.focus();
                            return false;}}
                        if(lansige.nr.value == '') {
                            alert('Please enter your message content (no more than 200 words)!');
                            lansige.nr.focus();
                            return false;}
                        gosavenow();}
                </script>
            </section>



            <section class="bianju">
                <h3>新闻中心 News<span><a href="/xinwenzhongxin">更多>></a></span></h3>
                <ul class="news">
                    <li><a href="/xinwenzhongxin/2016/1224/20.html">【重磅】国家电网以混合所有制全面推进配售电<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/19.html">特高压：不光要“上天入地” 还要横跨大洋<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/18.html">工业园区成为电力改革试验田 配售一体化的突破<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/17.html">高压户外式穿墙套管的安装<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/16.html">冷缩、热缩电缆附件施工工艺比较<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/15.html">穿刺线夹优点<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/14.html">电力绿色发展是主线！ 国家能源局总工程师这么<span>2016-12-24</span></a></li>

                </ul>



            </section>
            <section >
                <h3>联系我们 Contact US</h3>
                <address>
                    <h4>山东万维电力科技有限公司</h4>
                    <ul class="list-unstyled lxwm">
                        <li>地址：山东省济宁经济开发区嘉美路北段</li>
                        <li>电话：0537-3213333</li>
                        <li>传真：0537-3215555</li>
                        <li>E-mail：sdwwdl@163.com</li>
                    </ul>
                </address>
                <p class="zhixun"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456789&amp;site=qq&amp;menu=yes" class="qq" target="_blank">QQ</a> </p>
            </section>

        </div>


    </div>
    <div class="foot">
        <div class="container clearfix">
            <p class="copy pull-left">Copyright © 2012-2017 山东万维电力科技 All RIGHTS RESERVED POWERED BY <a href="http://www.hrnuo.com" target="_blank">技术支持：</a><a href="http://www.h0537.com" target="_blank">悍诺科技</a>
            </p>
            <p class="renzheng pull-right text-right">
                <img src="/images/1.png" alt="工商合法注册企业" title="工商合法注册企业" width="32" height="32">
                <img src="/images/2.png" alt="安全网站" title="安全网站" width="32" height="32">
                <img src="/images/3.png" alt="网上报警" title="网上报警" width="32" height="32">
            </p>
        </div>
    </div>
</footer>
</body>
</html>
