
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>山东万维电力科技有限公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bxslider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bxslider.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
﻿<header id="header" class="header wrap cen">
    <h1><a href="/cn/">山东万维电力科技有限公司</a></h1>
    <nav class="nav" id="menu_ul">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/main/companyProfile">公司简介</a></li>
            <li><a href="/main/news">新闻中心</a></li>
            <li><a href="/main/product">产品中心</a></li>
            <li><a href="/main/shili">公司实力</a></li>
            <li><a href="/main/recruit">招贤纳士</a></li>
            <li><a href="/main/services">服务中心</a></li>
        </ul>
    </nav>
    <div class="cb"></div>
</header>
<script type="text/javascript">
    var obj=null;
    var As=document.getElementById('menu_ul').getElementsByTagName('a');
    obj = As[0];
    for(i=1;i<As.length;i++){
        if(window.location.href.indexOf(As[i].href)>=0)
            obj=As[i];
    }
    obj.id='nav_current';
</script>
<link href="/css/fwslider.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/fwslider.js"></script>
<div id="banner">
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide slide_item1"> <img src="/images/banner1.png"> </div>
            <div class="slide slide_item2"> <img src="/images/banner2.png"> </div>
            <div class="slide slide_item3"> <img src="/images/banner3.png"> </div>
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span class="pngFix"></span></div>
        <div class="slideNext"><span class="pngFix"></span></div>
    </div>
</div>
<!-- main -->
<div class="container">
    <div class="row">
        <!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h1">产品中心</h2>
                <div class="product_list product_list2">

                    <div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/9.html"> <img  src="/uploads/161223/1-161223143954317.jpg" width="260" height="373"  class="opacity_img" alt="U型抱箍"> </a>
                        <p class="product_title"><a href="/product/2016/1223/9.html" title="U型抱箍">U型抱箍</a></p>
                    </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/8.html"> <img  src="/uploads/161223/1-161223143Z6430.jpg" width="260" height="373"  class="opacity_img" alt="7式铁"> </a>
                    <p class="product_title"><a href="/product/2016/1223/8.html" title="7式铁">7式铁</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/7.html"> <img  src="/uploads/161223/1-161223143JQ18.jpg" width="260" height="373"  class="opacity_img" alt="接地铁"> </a>
                    <p class="product_title"><a href="/product/2016/1223/7.html" title="接地铁">接地铁</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/6.html"> <img  src="/uploads/161223/1-161223143545a8.jpg" width="260" height="373"  class="opacity_img" alt="N型拉板"> </a>
                    <p class="product_title"><a href="/product/2016/1223/6.html" title="N型拉板">N型拉板</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/5.html"> <img  src="/uploads/161223/1-16122314351V37.jpg" width="260" height="373"  class="opacity_img" alt="抱箍"> </a>
                    <p class="product_title"><a href="/product/2016/1223/5.html" title="抱箍">抱箍</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/4.html"> <img  src="/uploads/161223/1-16122314344Q34.jpg" width="260" height="373"  class="opacity_img" alt="横担"> </a>
                    <p class="product_title"><a href="/product/2016/1223/4.html" title="横担">横担</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/3.html"> <img  src="/uploads/161223/1-161223143154J0.jpg" width="260" height="373"  class="opacity_img" alt="变压器台架"> </a>
                    <p class="product_title"><a href="/product/2016/1223/3.html" title="变压器台架">变压器台架</a></p>
                </div><div class="col-sm-4 col-md-3 col-mm-6 product_img"> <a href="/product/2016/1223/2.html"> <img  src="/uploads/161223/1-161223143112A5.jpg" width="260" height="373"  class="opacity_img" alt="杆顶瓷瓶架"> </a>
                    <p class="product_title"><a href="/product/2016/1223/2.html" title="杆顶瓷瓶架">杆顶瓷瓶架</a></p>
                </div>


                </div>
                <div class="page"><li>首页</li>
                    <li class="thisclass">1</li>
                    <li><a href='list_4_2.html'>2</a></li>
                    <li><a href='list_4_2.html'>下一页</a></li>
                    <li><a href='list_4_2.html'>末页</a></li>
                    <li><select name='sldd' style='width:36px' onchange='location.href=this.options[this.selectedIndex].value;'>
                        <option value='list_4_1.html' selected>1</option>
                        <option value='list_4_2.html'>2</option>
                    </select></li>
                    <li><span class="pageinfo">共 <strong>2</strong>页<strong>9</strong>条</span></li>
                </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h1 class="left_h1">栏目导航</h1>
                <ul class="left_nav_ul" id="firstpane">
                    <li> <a class="biglink" href="/shili/gongsizizhi/">公司资质</a><span class="menu_head">+</span>
                        <ul class="left_snav_ul menu_body">

                            <li><a href="/shili/gongsizizhi/">公司资质</a></li>

                            <li><a href="/shili/shengchanshebei/">生产设备</a></li>

                            <li><a href="/shili/kehuanli/">客户案例</a></li>

                        </ul>
                    </li><li> <a class="biglink" href="/shili/shengchanshebei/">生产设备</a><span class="menu_head">+</span>
                    <ul class="left_snav_ul menu_body">

                        <li><a href="/shili/gongsizizhi/">公司资质</a></li>

                        <li><a href="/shili/shengchanshebei/">生产设备</a></li>

                        <li><a href="/shili/kehuanli/">客户案例</a></li>

                    </ul>
                </li><li> <a class="biglink" href="/shili/kehuanli/">客户案例</a><span class="menu_head">+</span>
                    <ul class="left_snav_ul menu_body">

                        <li><a href="/shili/gongsizizhi/">公司资质</a></li>

                        <li><a href="/shili/shengchanshebei/">生产设备</a></li>

                        <li><a href="/shili/kehuanli/">客户案例</a></li>

                    </ul>
                </li>

                </ul>
            </div>

            <div class="index_contact">
                <h1 class="about_h1">联系我们</h1>
                <span class="about_span">CONTACT US</span>
                <p style="padding-top:20px;">公司：</p>
                <p>联系人：</p>
                <p>手机：</p>
                <p>电话：</p>
                <p>邮箱：</p>
                <p>地址： </p>
            </div>
        </div>
    </div>
</div>
﻿<footer class="pingpu-bg" id="yy">
    <div id="demo" class="footer container sx-padding">
        <div class="clearfix wow animated fadeIn animated" style="visibility: visible;">
            <section>
                <h3>在线留言 Online booking</h3>
                <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="action" value="post" />
                    <input type="hidden" name="diyid" value="1" />
                    <input type="hidden" name="do" value="2" />
                    <ul class="list-unstyled">
                        <li>
                            <input name="xm" id="xm" value="" placeholder="姓名" maxlength="10" onfocus="if (value =='Name'){value =''}" onblur="if (value ==''){value='Name'}" type="text">
                        </li>
                        <li>
                            <input name="dh" id="dh" value="" placeholder="电话" maxlength="11" onfocus="if (value =='Phone'){value =''}" onblur="if (value ==''){value='Phone'}" type="text">
                        </li>
                        <li>
                            <textarea name="nr" cols="" id="nr" value="" placeholder="Content" maxlength="200" onfocus="if (value =='Content'){value =''}" onblur="if (value ==''){value='Content'}">Content</textarea>
                        </li>
                        <input type="hidden" name="dede_fields" value="xm,text;dh,text;nr,multitext" />
                        <input type="hidden" name="dede_fieldshash" value="adfd860bc1a954d8c39dc1dd5376e9b3" />
                        <li>
                            <input name="submit" id="button" value="立即提交 Submit →" type="submit">
                        </li>
                    </ul>
                </form>
                <div id="savediv" style="visibility:hidden;">Do not perform any other operations in the process....</div>
                <script language="javascript" type="text/javascript">
                    function gosavenow(){
                        savediv.style.visibility="visible";}
                </script>
                <script language="javascript" type="text/javascript">
                    function CheckForm() {
                        if(lansige.xm.value == '') {
                            alert('Please enter your address！');
                            lansige.xm.focus();
                            return false;}
                        if(lansige.dh.value == '') {
                            alert('Please enter your phone！');
                            lansige.dh.focus();
                            return false;}
                        var re = new RegExp("^([0-9])+$","ig");
                        {if (!re.test(lansige.dh.value))
                        {alert("The phone can only be 0-9 number！");
                            lansige.dh.focus();
                            return false;}}
                        if(lansige.nr.value == '') {
                            alert('Please enter your message content (no more than 200 words)!');
                            lansige.nr.focus();
                            return false;}
                        gosavenow();}
                </script>
            </section>



            <section class="bianju">
                <h3>新闻中心 News<span><a href="/xinwenzhongxin">更多>></a></span></h3>
                <ul class="news">
                    <li><a href="/xinwenzhongxin/2016/1224/20.html">【重磅】国家电网以混合所有制全面推进配售电<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/19.html">特高压：不光要“上天入地” 还要横跨大洋<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/18.html">工业园区成为电力改革试验田 配售一体化的突破<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/17.html">高压户外式穿墙套管的安装<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/16.html">冷缩、热缩电缆附件施工工艺比较<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/15.html">穿刺线夹优点<span>2016-12-24</span></a></li>
                    <li><a href="/xinwenzhongxin/2016/1224/14.html">电力绿色发展是主线！ 国家能源局总工程师这么<span>2016-12-24</span></a></li>

                </ul>



            </section>
            <section >
                <h3>联系我们 Contact US</h3>
                <address>
                    <h4>山东万维电力科技有限公司</h4>
                    <ul class="list-unstyled lxwm">
                        <li>地址：山东省济宁经济开发区嘉美路北段</li>
                        <li>电话：0537-3213333</li>
                        <li>传真：0537-3215555</li>
                        <li>E-mail：sdwwdl@163.com</li>
                    </ul>
                </address>
                <p class="zhixun"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456789&amp;site=qq&amp;menu=yes" class="qq" target="_blank">QQ</a> </p>
            </section>

        </div>


    </div>
    <div class="foot">
        <div class="container clearfix">
            <p class="copy pull-left">Copyright © 2012-2017 山东万维电力科技 All RIGHTS RESERVED POWERED BY <a href="http://www.hrnuo.com" target="_blank">技术支持：</a><a href="http://www.h0537.com" target="_blank">悍诺科技</a>
            </p>
            <p class="renzheng pull-right text-right">
                <img src="/images/1.png" alt="工商合法注册企业" title="工商合法注册企业" width="32" height="32">
                <img src="/images/2.png" alt="安全网站" title="安全网站" width="32" height="32">
                <img src="/images/3.png" alt="网上报警" title="网上报警" width="32" height="32">
            </p>
        </div>
    </div>
</footer>

</body>
</html>
